extends layout

block content
  h1 Edit Zone
  p.lead Job management web applications.
  hr
  .row
    .col-md-6
      button.btn.btn-primary(type="button") New Video Job
    .col-md-6
      button.btn.btn-primary(type="button") New Photo Job